@{
  Layout = "_Layout";
}
<div class = "container well-gametop text-center">
  @if(@Model["item"].Count > 0)
  {
    @foreach(var items in @Model["item"])
    {
      <p>@items.GetName() | <a href="/game/inventory/@Model["pc"]/@items.GetId()">GET</a> | <a href="/game">BACK</a> </p>
    }
  }
</div>
