

<div class="well footer">
  <ul>
    <li><a href="/rooms">Edit Rooms</a></li>
    <li><a href="/items">Edit Items</a></li>
    <li><a href="/npcs">Edit NPCs</a></li>
    <li><a href="/pcs">Edit PCs</a></li>
    <li><a href="/game">Play Game</a></li>
  </ul>
</div>
